# -----------------------------
# Data
# -----------------------------
data/raw/
data/processed/

# -----------------------------
# Models (IMPORTANT)
# -----------------------------
models/

# Ignore all model artifacts
*.pkl
*.joblib

# -----------------------------
# Notebooks
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc


# -----------------------------
# Files
# -----------------------------
*.csv
*.parquet

# Database dumps
sfs_dump.sql
*.dumps
# -----------------------------
# OS
# -----------------------------
.DS_Store

# -----------------------------
# Environments & secrets
# -----------------------------
.env
.env.*
.venv/
venv/

# -----------------------------
# MLflow
# -----------------------------
mlruns/

